main {
    display: "grid";
    grid-template-areas: 
        "game-main,     game-side";
}

#game-main {
    grid-area: "game-main";

    border: 3px solid pink;
    height: 80vh;
    margin: 20px;
}

#game-side {
    grid-area: "game-side";

    border: 3px solid pink;
    width: 150px;
    height: 600px;
}